.skills {
  padding: 60px 10%;
  background-color: #000000;
  min-height: 80vh;
}

.skills .content {
  width: 100%;
}

.skills .title {
  text-align: center;
  margin-top: 50px;
  
}
.skills p{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #c6c607;
  text-decoration: none;
}

.skills .title span {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  position: relative;
  padding-bottom: 5px;
}

.skills .title span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background: #ffffff;
}

.skills .boxes {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  gap: 20px; 
}

.skills .boxes .box {
  width: 300px;      
  height: 200px;     
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 20px yellow;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 



.skills .box {
  background: black;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0px 10px #c6c607, 0 0px 10px #c6c607,0 0px 20px #c6c607;
  margin-bottom: 10px;
  margin-top: 30px;
  transition: all 0.3s ease;
}

.skills .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px #c6c607, 0 0px 10px #c6c607, 0 0px 20px #c6c607;
}



.skills .box .icon i {
  color: black;
  font-size: 24px;
}

.skills .box .topic {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
}

